body, html {
  color: #232539;
  background-color: #eef0f4;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 400;
  margin: 0;    
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.TopBar {
  background-color: #8935c0;
  background-image: linear-gradient(270deg,#8935c0,#500079);
  color: #fff;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1008;
}
td {
  background-color: #fbfbfd;
  border: 1px solid #ebedf5;
  border-bottom: 0;
  border-right: 0;
  max-width: 130px;
  text-align: center;    
} 
table {
    font-size: 12px;
    border-collapse: inherit;
    border-spacing: 0;
    color: #232539;      
}
th {
  border-left: 1px solid #ebedf5;
  border-top: 1px solid #ebedf5;
  font-size: 14px;
  padding: 2px;
  text-align: center;    
}
.Header__header--cVMVV {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #243b7f;
  border-radius: 4px 4px 0 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  padding-top: 64px;;
}
.Layout__layout--28_Yt {
  background-color: #eef0f4;
  min-height: 00vh;
}
div {
  display: block;
}
.Header__title--1OhZN {
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.Icon__icon--large {
  fill: currentColor;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 24px;
  vertical-align: top;
  width: 24px;
  height: 36px;
  margin-right: 10px;
  width: 36px;   
  border: 2px solid;
  border-radius: 50%;     
} 

.Icon__icon--YFXFc {
  fill: currentColor;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 24px;
  vertical-align: top;
  width: 24px;
}
